	  /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /*Negative indent footer by it's height */
        /*margin: 0 auto -60px;*/
        /*HACKISH*/
        margin:0px;
        position: relative;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #eee;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 960px;
        
      }
      .container .credit {
        margin: 20px 0;
      }
      #leftCol .panel-body{
        font-size: 8pt;
      }
      
      #gmap_wrapper{
        margin-top: -20px;
        /*z-index: -9px;*/
        height: 100px;
      }
      #gmap{
        /*z-index: -9;*/
        top: 0px;
        height: 200px;
      }
      .normal-panel{
        font-size: 12pt;
      }
      #foto_user_kecil{
        height: 24px;
        width: 24px;
      }